@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@layer utilities {
    .w-fitcontent {
        width: fit-content;
    }
}

html.dark body {
    color: #ffffff;
    background: #000000;
}

@media (min-width: 768px) {
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}

.a {
    @apply underline hover:no-underline hover:bg-yellow-300 hover:bg-opacity-20 hover:cursor-pointer;
}

.underline {
    text-decoration-color: rgba(0,0,0,0.2);
}

html.dark .underline {
    text-decoration-color: rgba(255,255,255,0.3);
}