@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants dark, hover {
        .underline-white {
            text-decoration-color: #ffffff;
        }
        .underline-solid {
            text-decoration-style: solid;
        }
        .underline-dashed {
            text-decoration-style: dashed;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background: #000000;
    }
}

@media (min-width: 768px) {
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}

.w-fitcontent {
    min-width: 15rem;
    width: fit-content;
    max-width: fit-content;
}

a {
    @apply dark:underline-white;
}

a:hover {
    @apply underline-solid cursor-pointer;
}

section#main a {
    @apply underline underline-dashed hover:underline-solid;
}

.animate-marquee-left {
    animation: marquee-left 10s linear infinite;
}

.animate-marquee-right {
    animation: marquee-right 10s linear infinite;
}

@keyframes marquee-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes marquee-right {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
}